/*footer*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: darken($grey-light-dark-color, 20%);
    padding: calc(2rem + 2vw) calc(4rem + 1.8vw);
    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: calc(13px + 3vw);
    }
    &__contact {
        a {
            font-size: calc(map-get($map: $font-size, $key: footer-contact) + 1.2vw);
        }
    }
    &__quick-links {
        p{
            font-size: calc(map-get($map: $font-size, $key: footer-quick-title) + 0.98vw);
            text-decoration: underline;
        }
        li{
            color: darken($white-color, 20%);
        }
        a,a:visited {
            cursor: pointer;
            position: relative;
            color: darken($white-color, 20%);
            font-size: calc(0.5rem + 1.5vw);
            text-decoration: none;
            transition: 0.15 linear;
            transform-origin: center;
            &:hover {
                transform: scale(1.1);
                color: darken($white-color, 30%);
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    background-color: $white-color;
                    height: 2px;
                    bottom: -4px;
                    left: 0;
                    transform-origin: left;
                    animation: animLinkFooter 1.4s infinite ease-in-out;
                }
            }    
        }
    }
}

.footer {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // width: 100%;
    // height:auto;
    
    .socials {
        a {
            font-size: calc(map-get($font-size, social-footer) + 1.5vw);
            margin: 0 calc(0.5rem + 1.2vw);
        }
        i {
            @include socials-around("footer");
            &:hover {
                color: $ocean-blue-color;
            }
        }
    }
}

.around {
    border: 1px solid $grey-alpha70-color;
    border-radius: 50%;
    background-color: $grey-alpha90-color;
    cursor: pointer;
    &:hover {
        background-color: $light-grey-alpha45-color;
        cursor: pointer;
        i {
            color: $yellow-color;
        }
    }
}

//Corresponds to the different animations of the file
@keyframes animLinkFooter{
    0%{
        transform: scale(0.01);
    }
    50%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0.01);
    }
}