.header {
    z-index: 5;
    background-color: $grey-transparent-color;
    height: calc(8rem + 3.98vw);
    margin-top: 3.95rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    // border: 5px solid black;
    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2rem;
        color:$black-color;
        @include text-shadow($white-color);
        &--name {
            margin-left: 1rem;
            font-style: italic;
        }
    }
    img {
        height: calc(6rem + 1.1vw);
        width: calc(6rem + 1.1vw);
        border: 3px solid black;
        border-radius: 10px;
    }
    .socials {
        i:hover {
            color: $ocean-blue-color;
        }
    }
}