.header {
    z-index: 5;
    background-color: $black-alpha90-color;
    height: calc(20px + 5.1vw);
    margin-top: calc(5px + 3.2vw);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    // border: 5px solid black;
    img {
        height: calc(20px + 3.5vw);
        width: calc(20px + 3.5vw);
        border: 3px solid black;
        border-radius: 10px;
    }
    .socials {
        i {
            @include socials-around("heading");
            &:hover {
                color: $ocean-blue-color;
            }
        }
    }
}