.nav {
    display: flex;
    align-items: space-around;
    text-align: right;
    ul{
        @include list-unstyled;
    }
    &__link {
        display: inline-flex;
        justify-content: space-between;
        align-content: center;
        font-size: calc(map-get($font-size, nav-heading) + 0.98vw);
        margin: 0 1rem;
        padding: 0.2rem;
        & a,a:visited {
            cursor: pointer;
            position: relative;
            text-decoration: none;
            color: $light-grey-color;
            transition: 0.15s linear;
            &:hover {
                @include background-shift($grey-transparent-color);
                transform: scale(1.1);
                color: $white-color;
                border-radius: 10px;
                padding: 0 5px;
                &::after {
                    animation: animLink 1.4s infinite ease-in-out;
                    transform-origin: left;
                }
            }
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                background-color: $white-color;
                height: 2px;
                bottom: -4px;
                left: 0;
            }
        }
    }
}

//Corresponds to the different animations of the file
@keyframes animLink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scaleX(0.2);
    }
    100% {
        transform: scaleX(1);
    }
        
}