section{
    scroll-margin-block: 12rem;
    h1 {
        text-align: center;
        color: $colour-black;
    }
    h2 {
        font-size: calc(2rem + 4vw);
        // color: $colour-black;
        margin-top: 5px;
        text-align: center;
    }
    
}
@include background-section($background-section);
