section{
    height: 100%;
    h1 {
        text-align: center;
        color: $black-color;
    }
    h2 {
        font-size: calc(2rem + 4vw);
        // color: $colour-black;
        margin-top: 5px;
        text-align: center;
    }
    
}
.section-container{
    position: relative;
    width: 90vw;
}

@include background-section($background-section);
