@charset "UTF-8";
/*@mixin socials à faire*/
body {
  font-family: "Noto Sans", "Merriweather", "Poppins", "Roboto", sans-serif;
  color: black;
  font-size: calc(1rem + 1.1vw);
  font-weight: 400;
  line-height: 1.7;
}

h1 {
  font-weight: 700;
  font-size: calc(2.5rem + 0.98vw);
}

h2 {
  font-weight: 500;
  font-size: 3rem;
}

textarea {
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.3rem;
}

button {
  font-family: "Poppins", "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background-color: #000101;
  color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: space-around;
  text-align: right;
}
.nav ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.nav__link {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  font-size: calc(1.1rem + 0.98vw);
  margin: 0 1rem;
  padding: 0.2rem;
}
.nav__link a,
.nav__link a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #abaaaa;
  transition: 0.15s linear;
}
.nav__link a:hover,
.nav__link a:visited:hover {
  background-color: rgba(3, 3, 3, 0.5647058824);
  transform: scale(1.1);
  color: #fff;
  border-radius: 10px;
  padding: 0 5px;
}
.nav__link a:hover::after,
.nav__link a:visited:hover::after {
  animation: animLink 1.4s infinite ease-in-out;
  transform-origin: left;
}
@keyframes animLink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.nav__link a::after,
.nav__link a:visited::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #fff;
  height: 2px;
  bottom: -4px;
  left: 0;
}

.header {
  z-index: 5;
  background-color: rgba(3, 3, 3, 0.5647058824);
  height: calc(11rem + 0.98vw);
  margin-top: 1rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  color: black;
  text-shadow: 0.3rem 0.3rem #fff;
}
.header__logo--name {
  margin-left: 1rem;
  font-style: italic;
}
.header img {
  height: calc(6rem + 1.1vw);
  width: calc(6rem + 1.1vw);
  border: 3px solid black;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main__section {
  margin-bottom: 0rem;
}

section {
  scroll-margin-block: 12rem;
}
section h1 {
  text-align: center;
  color: black;
}
section h2 {
  font-size: calc(2rem + 4vw);
  color: black;
  margin-top: 5px;
  text-align: center;
}

/*Faire une fonction et mixin pour les background-color des id*/
#home {
  background-color: #068a69;
}

#about {
  background-color: #fff;
}

#skills {
  background-color: #81e4c6;
}

#portfolio {
  background-color: #fff;
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #5f5f5f;
  padding: calc(2rem + 2vw) calc(4rem + 1.8vw);
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: calc(13px + 3vw);
}
.footer__links--quick p {
  font-size: calc(1.6rem + 0.98vw);
  text-decoration: underline;
}
.footer__contact a {
  font-size: calc(0.77rem + 1.2vw);
}

ul li {
  color: #cccccc;
}
ul li a,
ul li a:visited {
  cursor: pointer;
  position: relative;
  color: #cccccc;
  font-size: calc(0.5rem + 1.5vw);
  text-decoration: none;
  transition: 0.15 linear;
  transform-origin: center;
}
ul li a:hover,
ul li a:visited:hover {
  transform: scale(1.1);
  color: #b3b3b3;
}
ul li a:hover::after,
ul li a:visited:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #fff;
  height: 2px;
  bottom: -4px;
  left: 0;
  transform-origin: left;
  animation: animLinkFooter 1.4s infinite ease-in-out;
}
@keyframes animLinkFooter {
  0% {
    transform: scale(0.01);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.01);
  }
}

footer .socials a {
  font-size: calc(1.6rem + 1.5vw);
}

/*Faire une mixin des liens sociaux pour ensuite les inclure dans .socials*/
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.socials ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.socials__link {
  display: inline-flex;
  text-align: center;
  font-size: calc(1.1rem + 0.98vw);
  margin: 0 0.5rem;
}
.socials a {
  text-decoration: none;
  color: #fff;
}

/*section about*/
.about-section {
  height: calc(800px + 8vw);
}
.about-section h2 {
  mix-blend-mode: exculsion;
  margin: 220px 0 0;
}
.about-section p {
  width: 80%;
  min-width: 270px;
  text-align: justify;
  margin: auto;
  line-height: calc(3px + 2.3vw);
}

/*section home*/
.home-section {
  height: calc(900px + 4vw);
  background-image: url(../../public/images/composition-pour-ordinateur-portable-bloc-notes-bureau_23-2147982547.avif);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: calc(11rem + 0.98vw);
}
.home-section h1 {
  letter-spacing: -5px;
}

/*section portfolio*/
.proj-section {
  margin: 200px 0;
}
.proj-section__projects {
  margin-top: 100px;
}
.proj-section__project {
  position: relative;
  width: 60vw;
  max-width: 620px;
}
.proj-section__project:hover img {
  filter: brightness(20%);
}
.proj-section__project:hover .proj-section__project--info {
  opacity: 1;
  transform: translate(-23px, -50%);
}
.proj-section__project--p1 {
  margin: 0 0 50px 3vw;
}
.proj-section__project--p2 {
  margin: 0 6vw 0 auto;
}
.proj-section__project--p3 {
  margin: 0 auto 0 6vw;
}
.proj-section__project--p4 {
  margin: 0 5vw 0 auto;
}
.proj-section__project--p5 {
  margin: 0 auto 0 5vw;
}
.proj-section__project--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 6.5vw;
  transition: 0.3s ease-out;
  opacity: 0;
}
.proj-section__project--info a {
  font-size: calc(1rem + 3vw);
  color: #fff;
  text-decoration: none;
}
.proj-section__project--info p {
  text-align: center;
  font-style: calc(0.7rem + 2.5vw);
  margin-top: 0.5vw;
}
.proj-section__project img {
  width: 100%;
  max-width: 620px;
  transition: 0.4s ease-out;
}

/*section skills*/
.expertise {
  background-image: url(../../public/images/concept-logiciel-developpement-codage-langage-programmation.jpg);
  background-size: cover;
  height: calc(950px + 8vw);
}
.expertise h2 {
  margin: -50px 0 50px;
  padding-top: calc(11rem + 1vw);
}
.expertise__skills {
  margin: 10px 0;
}
.expertise__skills--appear {
  text-align: center;
}
.expertise p {
  display: inline-block;
  font-size: calc(1rem + 3vw);
  letter-spacing: 2px;
  color: #fff;
  background-color: black;
  border-radius: 20px;
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
