/*Faire une mixin des liens sociaux pour ensuite les inclure dans .socials*/
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    ul {
        @include list-unstyled;
    }
    &__link {
        display:inline-flex;
        text-align: center;
        margin: 0 0.5rem;
    }
    a {
        text-decoration: none;
        color: $white-color;
        font-size: calc(map-get($font-size, social-heading) + 0.98vw);
    }
}