/*Faire une mixin des liens sociaux pour ensuite les inclure dans .socials*/
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    ul {
        @include list-unstyled;
    }
    &__link {
        display:inline-flex;
        text-align: center;
        margin: 0 0.8rem;
        &--around {
            border: 1px solid $grey-alpha70-color;
            border-radius: 50%;
            background-color: $grey-alpha90-color;
            cursor: pointer;
            &:hover {
                background-color: $light-grey-alpha45-color;
                cursor: pointer;
                i {
                    color: $ocean-blue-color;
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: $white-color;
        font-size: calc(map-get($font-size, social-heading) + 0.98vw);
    }
    i {
        padding: 0 18px;
    }
}