*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: $colour-selection-bg;
    color: $colour-white;
}

html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    // position: relative;
    // width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background: $colour-light-grey;
}

#container {
    position: relative;
    width: 100vw;
    min-height: 100%;
    // padding-bottom: calc(100px + 17vw);
}

#main {
    min-height: 100%;
    position: relative;
    padding-bottom: calc(100px + 17vw);
}

section {
    height: 100vh;
    width: 100%;
    padding: 0 2em 0;
}

#contact {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:auto;
}