body {
    font-family: $font-family-primary;
    color: $black-color;
    text-align: justify;
    font-size: calc(1rem + 1.1vw);
    font-weight: 400;
    line-height: 1.7;
}

h1 {
    font-weight: 400;
    font-size: calc(map-get($map: $font-size, $key: h1) + 1.98vw);
    // font-size: map-get($map: $font-size, $key: h1);
}

h2 {
    font-weight: 600;
    font-size: calc(map-get($map: $font-size, $key: h2) + 1.98vw);
    margin-bottom: 50px;
}

h3 {
    font-weight: 600;
    font-size: calc(map-get($map: $font-size, $key: h3) + 1.98vw);
}

h4 {
    font-weight: 500;
    font-size: calc(map-get($map: $font-size, $key: h4) + 1.45vw);
}

span {
    font-size: calc(map-get($map: $font-size, $key: h2) + 3.98vw);
    display: inline-block;
}

textarea {
    font-family: $font-family-secondary;
    font-weight: 100;
    font-size: 1.3rem;
}

button {
    font-family: $font-family-secondary;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
}