/*section about*/
.about-section {
    &__title{
        h2 {
            // mix-blend-mode: exclusion; // Permet de faire le mix des différents éléments
            // display: block;
        @include section-title-shadow;
        }
    }
    &__subtitle{
        h3{
            text-align: center;
            color: $colour-grey-light-dark;
        }
    }
    .as-grid{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 4fr);
        gap: 2rem;
        border: 2px solid $colour-black;
        padding: 5px;
        h4{
            text-align: center;
            color: $colour-light-mint;
        }
        &__item{
            width: 100%;
            background: url("./../../public/images/fond-en-bois-clair_horizontal.jpg") center/cover ;
            padding: .5rem;
            text-align: justify;
        }
    }
        // p {
        //     width: 100%;
        //     // min-width: 270px;
        //     text-align: justify;
        //     margin: auto;
        //     line-height: calc(3px + 2.3vw);
        // }
    
}

