/*section about*/
.about-section {
    &__title{
        h2 {
            // mix-blend-mode: exclusion; // Permet de faire le mix des différents éléments
            // display: block;
        @include section-title-shadow;
        }
    }
    &__subtitle{
        h3{
            text-align: center;
            color: $grey-light-dark-color;
        }
    }
    .as-grid{
        width: 90%;
        margin: auto;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        // gap: 2rem;
        // border: 2px solid $black-color;
        // padding: 5px;
        h4{
            text-align: center;
            color: $dark-grey-color;
            text-decoration: underline;
        }
        &__item{
            width: 100%;
            // background: url("./../../public/images/fond-en-bois-clair_horizontal.jpg") center/cover ;
            padding: .8rem;
            text-align: justify;
            &--1{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                gap: 2rem;
                border: 2px solid $black-color;
                padding: 5px;
            }
            &--2{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                gap: 2rem;
                border: 2px solid $black-color;
                padding: 5px;
            }
            &--3{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                gap: 2rem;
                border: 2px solid $black-color;
                padding: 5px;
            }
        }
    }
    
        // p {
        //     width: 100%;
        //     // min-width: 270px;
        //     text-align: justify;
        //     margin: auto;
        //     line-height: calc(3px + 2.3vw);
        // }
    
}

.story-life-container{
    &__text-life {
        font-size: calc(4px + 1.4vw);
        position: absolute;
        text-align: center;
        top: calc(150px + 20vw);
    }
}

#as-g__col1 {
    border: 2px dashed red;
    padding: 10px;
    // background-color: $light-grey-color;
}

#image {
    z-index: 7;
}

#as-g__col2 {
    z-index: 1;
    position: relative;
    overflow: hidden;
    // display: flex;
    // flex-direction: column;
    border: 2px dashed red;
    padding: 10px;
    background-color: $light-grey-color;
    @include about-story-life($about-appear-image-data);
    &--like-programming {
        animation-delay: 5s;
        animation-duration: 7s;
        animation-direction: normal;
        // animation-name: glissement-right;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
}

#as-g__col3 {
    // z-index: 3;
    border: 2px dashed red;
    padding: 10px;
    // background-color: $light-grey-color;
}

.appearance {
    animation-name: appearance;
    animation-duration: 3s;
    & img {
        border-radius: 50px;
    }
}

@keyframes glissement-right {
    from {
        opacity: 0;
        width: 22vw;
        // top: 25px;
        // left: 3vw;
        transform: translateX(-30vw);
        // margin-left: 100%;
        // width: 300%;
    }
    35% {
        opacity: 0;
        width: 22vw;
        // top: 25px;
        // left: 3vw;
        transform: translateX(-20vw);
    }
    50% {
        opacity: 1;
        width: 22vw;
        // top: 25px;
        // left: 3vw;
        transform: translateX(0vw);
    }
    65% {
        opacity: 1;
        width: 22vw;
        // top: 25px;
        // left: 3vw;
        transform: translateX(0vw);
    }

    to {
        opacity: 0 ;
        width: 22vw;
        // top: 25px;
        // left: 3vw;
        transform: translateX(30vw);
        margin-left: 0%;
        
    }
}

@keyframes appearance {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
