.proj-section {
    margin: 200px 0;
    &__projects {
        margin-top: 100px;
        img {
            height: 50vw;
            max-height: 285px;
            width: 100vw;
            max-width: 560px;
            filter: grayscale(100%);
            transition: 1.5s;
            &:hover{
                filter: grayscale(10%);
            }
    }
    &__project {
        position: relative;
        width: 60vw;

    }
    }
}

