.expertise {
    background-image: url(../../public/images/concept-logiciel-developpement-codage-langage-programmation.jpg);
    background-size: cover;
    height: calc(950px + 8vw);
    h2 {
        margin: -50px 0 50px;
        padding-top: calc(11rem + 1vw);
    }
    &__skills {
        margin: 10px 0;
        &--appear{
            text-align: center;
        }
    }
    p {
        display: inline-block;
        font-size: calc(1rem + 3vw);
        letter-spacing: 2px;
        color: $colour-white;
        background-color: $colour-black;
        border-radius: 20px;
        padding: 0 10px;
    }
}