/*section skills*/
.expertise-section {
    // border: 2px solid black;
    // position: relative;
    overflow: hidden;
    // img {
    //     width: 100vw;
    //     height: 100%;
    //     transform: scale(1.07);
    //     background-position: top/cover;
    // }
    &__text {
        @include section-text;
        margin: 0 auto 5vw;
        width: 90%;
        // letter-spacing: 2px;
    }
    &__title {
        margin: -50px 0 50px;
        padding-top: calc(1rem + 1vw);
        @include section-title-shadow;
        // @include animation-title(glissement-left, 500ms, normal, ease-in-out, 1);
        // @include delayed-time-letter(14, 500ms);
    }
    &__skills {
        margin: 2%;
        // &--appear{
        //     text-align: center;
        // }
    }
    // p {
    //     display: inline-block;
    //     font-size: calc(0.4rem + 2.2vw);
    //     letter-spacing: 2px;
    //     color: $black-color;
    //     border-radius: 20px;
    //     padding: 0 10px ;
    // }


//     @include text-decoding; // A voir ?!?
// }

// .dud {
//     color: #757575;
// }



//A revoir et faire du JS à la place pour l'animation

// @keyframes glissement-left {
//     from {
//         opacity: 0;
//         // transform: translateX(50vh);
//         transform: translateY(-15vh);
//         margin-left: 100%;
//         width: 300%;
//     }
//     90% {
//         opacity: 1;
//         transform: translateY(-15vh);
//         margin-left: 100%;
//         width: 300%;
//     }

//     to {
//         opacity: 1 ;
//         transform: translateY(-15vh);
//         margin-left: 50%;
//         width: 100%;
//     }
}

#skillBox {
    // z-index: 3;
    width: 95%;
    height: auto;
    font-size: 20px;
    margin: 40px auto;
    border: 1px solid $black-color;
    padding: 15px;
    border-radius: 20px;
}

.skillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: $grey-alpha30-color;
    margin: 20px auto;
}

.skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin: 15px 0 0 15px;
    text-shadow: none;
    color: $white-color;
    font-size: 18px;
}

.PercentSkill {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: $white-color;
    font-size: 18px;
}

