@mixin text-shadow($colour:lightness-shift($colour-primary), $size:map-get($map: $text-shadow-offset, $key: logo)){
    text-shadow: $size $size $colour;
}

@mixin span-inline{
    display: inline-block;
}

@mixin background-shift($colour:lightness-shift($colour-primary)){
    background-color: $colour;
}

@mixin background-section($backgrounds){
    @each $section, $background in $backgrounds{
        .#{$section}{
        background: map-get($map: $background, $key: bg);
        height: map-get($map: $background, $key: hgt);
        margin: map-get($map: $background, $key: marg);
        padding: map-get($map: $background, $key: padd); 
        }
    }
}

@mixin proj-base($datas){
    @each $proj, $data in $datas{
        &--#{$proj}{
        margin: map-get($map: $data, $key: margin);
        }
    }
}

@mixin list-unstyled{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@mixin txt-input-palette($palettes){
    @each $state, $palette in $palettes{
        &:#{$state}{
        background-color: map-get($map: $palette, $key: bg);
        color: map-get($map: $palette, $key: txt);
        border: 0.2rem solid map-get($map: $palette, $key: border);
        } 
    }
}

/*@mixin socials à faire*/