@mixin text-shadow($color:lightness-shift($primary-color), $size:map-get($map: $text-shadow-offset, $key: logo)){
    text-shadow: $size $size $color;
}

@mixin span-inline{
    display: inline-block;
}

@mixin background-shift($color:lightness-shift($primary-color)){
    background-color: $color;
}

@mixin background-section($backgrounds){
    @each $section, $background in $backgrounds{
        .#{$section}{
        width: map-get($map: $background, $key: width);
        background: map-get($map: $background, $key: bg);
        max-height: map-get($map: $background, $key: max-hgt);
        height: map-get($map: $background, $key: hgt);
        margin: map-get($map: $background, $key: marg);
        padding: map-get($map: $background, $key: padd); 
        }
    }
}

@mixin section-text {
    z-index: 2;
    // position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

//A revoir par rapport au glissement lettres span
// @mixin delayed-time-letter($letters, $timer) {
//     @for $i from 1 through $letters {
//         .ltr-#{$i} {
//             @include animation-title(glissement-left, $timer , normal , ease-in-out, 1);
//            animation-duration: 1s+$i*$timer;
//         //    animation-direction: normal;
//         //    animation-name: glissement-left;
//         //    animation-timing-function: ease-in-out;
//         //    animation-iteration-count: 1;  
//         }
//     }
// }

//A revoir
// @mixin animation-title($keyframes:glissement-left, $duration, $direction, $timing-function, $iteration) {
//     animation-name: $keyframes;
//     animation-duration: $duration;
//     animation-direction: $direction;
//     animation-timing-function: $timing-function;
//     animation-iteration-count: $iteration;
// }

@mixin proj-base($datas){
    @each $proj, $data in $datas{
        &--#{$proj}{
        margin: map-get($map: $data, $key: margin);
        }
    }
}

@mixin home-appear-delay($delays){
    @each $line, $delay in $delays{
        ##{$line}{
           transition-delay: map-get($map: $delay, $key: td); 
        }
    }
}

@mixin about-story-life($datas){
    @each $time, $data in $datas{
        &--#{$time}{
            width: map-get($map: $data, $key: wdth);
            height: map-get($map: $data, $key: hgt);
            position: map-get($map: $data, $key: pstion);
            z-index: map-get($map: $data, $key: z-ind);
            top: map-get($map: $data, $key: top);
            left: map-get($map: $data, $key: left);
        }
    }
}

@mixin list-unstyled{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@mixin txt-input-palette($palettes){
    @each $state, $palette in $palettes{
        &:#{$state}{
        background-color: map-get($map: $palette, $key: bg);
        color: map-get($map: $palette, $key: txt);
        border: 0.2rem solid map-get($map: $palette, $key: border);
        } 
    }
}

@mixin section-title-shadow{
    text-shadow: 
    /*relief*/
        0 0.5px 0 rgb( 205 , 205 , 205 ),
        0 1px 0 rgb( 200 , 200 , 200 ),
        0 1.5px 0 rgb( 195 , 195 , 195 ),
        0 2px 0 rgb( 190 , 190 , 190 ),
        0 2.5px 0 rgb( 185 , 185 , 185 ),
        0 3px 0 rgb( 180 , 180 , 180 ),
        0 3.5px 0 rgb( 175 , 175 , 175 ),
        0 4px 0 rgb( 172 , 172 , 172 ),
        0 4.5px 0 rgb( 175 , 175 , 175 ),
        0 5px 0 rgb( 180 , 180 , 180 ),
        0 5.5px 0 rgb( 185 , 185 , 185 ),
        0 6px 0 rgb( 190 , 190 , 190 ),
    /*ombre*/
        6px 7px 5px rgba( 0, 0, 0, .40),
        6px 12px 10px rgba( 0, 0, 0, .30),
        6px 17px 20px rgba( 0, 0, 0, .20),
        6px 22px 30px rgba( 0, 0, 0, .10);
    color: $dark-grey-color;
}

@mixin skills-datas($datas) {
    @each $skill, $data in $datas{
        ##{$skill}{
            width: map-get($map: $data, $key: wdh);
            height: map-get($map: $data, $key: ht);
            border-radius: map-get($map: $data, $key: bder-rduis);
            position: map-get($map: $data, $key: ption);
            background-color: map-get($map: $data, $key: bc);
            animation: map-get($map: $data, $key: anim);
            -webkit-animation: map-get($map: $data, $key: -wbkit-anim);
            -moz-animation: map-get($map: $data, $key: -mz-anim);
            -o-animation: map-get($map: $data, $key: -o-anim);
        }
    }
}



@mixin keyframes-skills($skills) {
    @each $keyframes-skill, $skill in $skills{ 
        @keyframes #{$keyframes-skill}{
            from {
                width: 15px;
            }
            to {
                width: map-get($map: $skill, $key: wdth);
            }

        }
    }
}

@mixin text-decoding {
    height: 100%;
    font-weight: 400;
    font-size: calc(0.6rem + 2.8vw);
    letter-spacing: 2px;
    color: $black-color;
}

/*@mixin socials à faire*/