@mixin text-shadow($colour:lightness-shift($colour-primary), $size:map-get($map: $text-shadow-offset, $key: logo)){
    text-shadow: $size $size $colour;
}

@mixin span-inline{
    display: inline-block;
}

@mixin background-shift($colour:lightness-shift($colour-primary)){
    background-color: $colour;
}

@mixin list-unstyled{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@mixin txt-input-palette($palettes){
    @each $state, $palette in $palettes{
        &:#{$state}{
        background-color: map-get($map: $palette, $key: bg);
        color: map-get($map: $palette, $key: txt);
        border: 0.2rem solid map-get($map: $palette, $key: border);
        } 
    }
}

/*@mixin socials à faire*/