$colour-primary:#068a69;
$colour-secondary: #81e4c6;
$colour-tertiary: #e6b328;
$colour-invalid:#890627;
$colour-white: #fff;
$colour-light-white: #abaaaa;
$colour-black: black;
$colour-red: #f14343;
$colour-light-mint:#bce2a4;
$colour-grey-white:#929292;
$colour-selection-bg:#000101;
$colour-gray-transparent:#03030390;

$font-size:(h1:3.3rem, h2:3rem, logo:4rem, quote:6rem, heading: 5rem, project-heading: 4rem, nav-heading: 1.1rem, social-heading: 1.1rem, social-footer: 1.6rem, label: 3rem, footer-contact: 0.77rem, footer-quick-title: 1.6rem);
$text-shadow-offset:(logo:0.3rem);
// $font-weight:(logo: 700, quote: 500, heading: 400, project-heading: 550, )
$txt-input-palette:(
    focus:(
        txt: $colour-white,
        border: $colour-primary,
    ),
    hover:(
        txt: $colour-black,
        border: $colour-primary,
    ),
    invalid:(
        bg: $colour-primary,
        txt: $colour-white,
        border: $colour-primary,
    ),
);

$background-section:(
    // home-section:(
        // bg: url(../../public/images/composition-pour-ordinateur-portable-bloc-notes-bureau_23-2147982547.avif) top/cover no-repeat,
        // width: 110vw,   
        // hgt: calc(850px + 4vw),
        // marg: -15px 0 0, 
        // padd: calc(11rem + 0.98vw) 0 0 0,
    // ),
    about-section:(
        width: 100vw,
        bg: $colour-white,
        hgt: calc(800px + 8vw),
    ),
    expertise-section:(
        width: 100vw,
        bg: url(../../public/images/concept-logiciel-developpement-codage-langage-programmation.jpg) top/cover no-repeat,
        hgt: calc(950px + 25vw),
    ),
    proj-section:(
        width: 100vw,
        bg: $colour-white,
        hgt: auto,
        marg: 200px 0,
    ),
);

$proj-datas:(
    p1:(
        margin: 0 0 50px 6vw,
    ),
    p2:(
        margin: 0 6vw 50px auto,
    ),
    p3:(
        margin: 0 auto 50px 6vw,
    ),
    p4:(
        margin: 0 6vw 50px auto,
    ),
    p5:(
        margin: 0 auto 50px 6vw,
    ),
);

$home-appear-title-line:(
    hs-title-line2:(
       td: 7s,
    ),
    hs-title-line3:(
       td: 8s, 
    ),
);

$breakpoints:(
    mobile: 767px,
    tablet: 991px
);