/*color variables*/
$primary-color:#068a69;
$secondary-color: #81e4c6;
$tertiary-color: #e6b328;
$invalid-color:#890627;
$white-color: #fff;
$white-alpha85-color: #ffffff85;
$light-grey-color: #fdfcfc;
$light-grey-alpha75-color: #dcdcdcdf;
$light-grey-alpha45-color: #eeeded45;
$light-grey-alpha95-color: #eeeded95;
$grey-alpha13-color: #75747413;
$grey-alpha70-color: #75747470;
$grey-alpha90-color: #75747490;
$black-color: black;
$red-color: #8c1b1b;
$light-mint-color:#bce2a4;
$mint-green-color:#3d9b3d;
$maroon-color:#53262e;
$ocean-blue-color:#51b5df;
$dark-blue-color:#3a41a6;
$green-color:#0ea452;
$orange-color:#d55e43;
$grey-light-dark-color:#888787;
$dark-grey-color:#474646;
$selection-bg-color:#000101;
$black-alpha90-color:#03030390;
$purple-color:#5e2066;
$yellow-color:#c39c27;
$light-blue-color:#7b84e6;

/*font-family*/
$font-family-primary: 'Noto Sans','Merriweather','Poppins','Roboto', sans-serif;
$font-family-secondary: 'Poppins','Roboto', sans-serif;
$font-family-title-animation: 'Bungee Inline','Noto Sans','Merriweather','Poppins','Roboto', sans-serif;
$font-family-loading-spinner: "Dancing Script", 'Poppins', 'Roboto', 'sans-serif';
$font-family-skills: 'Nunito', 'Noto Sans', 'Poppins', 'Roboto', sans-serif;

$font-size:(h1:calc(0.45rem + 1.8vw), h2:calc(0.45rem + 1.5vw), h3:calc(0.35rem + 1.5vw), h4:calc(0.25rem + 0.85vw), logo:4rem, quote:6rem, heading: 5rem, home-title:calc(0.35rem + 3.98vw), project-heading: 4rem, nav-heading: 1.1rem, social-heading: 1.1rem, social-footer: 1.6rem, label: 3rem, footer-contact: 0.77rem, footer-quick-title: 1.6rem);
$text-shadow-offset:(logo:0.3rem);

$menu-dropdown_WIDTH: 50px;    

$background-section:(
    home-section:(
        // bg: url(../../public/images/composition-pour-ordinateur-portable-bloc-notes-bureau_23-2147982547.avif) top/cover no-repeat,
        width: 100vw,   
        hgt: 100%,
        marg: calc(-10px - 1.2vw) 0 0 0, 
    ),
    about-section:(
        width: 100vw,
        bg: $light-grey-color,
        hgt: auto,
        marg: -0.5vw 0 0 0vw,
        padd: 3vw 0,
    ),
    expertise-section:(
        width: 100vw,
        bg: $light-grey-alpha95-color,
        // bg: url(../../public/images/concept-logiciel-developpement-codage-langage-programmation.jpg) top/cover no-repeat,
        max-hgt: calc(300px + 70vw),
        hgt: auto,
        marg: auto,
        padd: 6vw 0 15vw,
    ),
    responsive-section:(
        width: 100vw,
        bg: url("../../public/images/responsive_desktop_tablet_smartphone_fond_table_bois.jpg") center/cover fixed,
        hgt: 100%,
        marg: 0,
        padd: 15vw 0 15vw,
    ),
    proj-section:(
        width: 100vw,
        bg: $light-grey-color,
        hgt: 100%,
        marg: 0vw 0 calc(-1rem + 1vw),
        padd: 1vw 0 11vw,
    ),
);

$height-skill-color-bar: calc(10px + 3vw);

$skills-datas:(
    skill-HTML:(
        wdh: 90%,
        ht: $height-skill-color-bar,
        bder-rduis: 15px,
        ption: absolute,
        bc: $yellow-color,
        anim: animate-HTML 5s,  
    ),
    skill-CSS:(
        wdh: 70%,
        ht: $height-skill-color-bar,
        bder-rduis: 15px,
        ption: absolute,
        bc: $primary-color,
        anim: animate-CSS 5s,
    ),
    skill-JS:(
        wdh: 60%,
        ht: $height-skill-color-bar,
        bder-rduis: 15px,
        ption: absolute,
        bc: $purple-color,
        anim: animate-JS 4s,
    ),
    skill-React:(
        wdh: 60%,
        ht: $height-skill-color-bar,
        bder-rduis: 15px,
        ption: absolute,
        bc: $light-blue-color,
        anim: animate-React 4s,
    ),
    skill-Sass:(
        wdh: 90%,
        ht: $height-skill-color-bar,
        bder-rduis: 15px,
        ption: absolute,
        bc: $green-color,
        anim: animate-Sass 4s,
    ),
    skill-Java:(
        wdh: 70%,
        ht: $height-skill-color-bar,
        bder-rduis: 15px,
        ption: absolute,
        bc: $orange-color,
        anim: animate-Java 4s,
    ),
    skill-PHP:(
        wdh: 30%,
        ht: $height-skill-color-bar,
        bder-rduis: 15px,
        ption: absolute,
        bc: $ocean-blue-color,
        anim: animate-PHP 4s,
    ),
    skill-C\#: (
        wdh: 20%,
        ht: $height-skill-color-bar,
        bder-rduis: 15px,        
        ption: absolute,
        bc: $red-color,
        anim: animate-C\# 4s,
    ),
    skill-MongoDB:(
        wdh: 65%,
        ht: $height-skill-color-bar,
        bder-rduis: 15px,
        ption: absolute,
        bc: $dark-blue-color,
        anim: animate-MongoDB 6s,
    ),
);

$keyframes-skills:(
    animate-HTML:(
        wdth: 90%, 
    ),
    animate-CSS:(
        wdth: 70%, 
    ),
    animate-JS:(
        wdth: 60%, 
    ),
    animate-React:(
        wdth: 60%, 
    ),
    animate-Sass:(
        wdth: 90%, 
    ),
    animate-Java:(
        wdth: 70%, 
    ),
    animate-PHP:(
        wdth: 30%, 
    ),
    animate-C\#:(
        wdth: 20%, 
    ),
    animate-MongoDB:(
        wdth: 65%, 
    ),
);

$proj-datas:(
    p1:(
        margin: 0 0 50px 6vw,
    ),
    p2:(
        margin: 0 6vw 50px auto,
    ),
    p3:(
        margin: 0 auto 50px 6vw,
    ),
    p4:(
        margin: 0 6vw 50px auto,
    ),
    p5:(
        margin: 0 auto 50px 6vw,
    ),
);

$home-appear-title-line:(
    hs-title-line2:(
       td: 7s,
    ),
    hs-title-line3:(
       td: 8s, 
    ),
);



$about-appear-image-data:(
    like-programming:(
        wdth: 22vw,
        pstion: absolute,
        z-ind: 7,
        top: 7.8%,
        left: 9.8vw,
    ),
    autodidact:(
        wdth: 25vw,
        pstion: absolute,
        z-ind: 2,
        top: 9.8%,
        left: 8.2vw,
    ),
    career-transition:(
        wdth: 25vw,
        pstion: absolute,
        z-ind: 2,
        top: 12.8%,
        left: 8.2vw,
    ),
    degree:(
        wdth: 25vw,
        pstion: absolute,
        z-ind: 2,
        top: 9.8%,
        left: 8.2vw,
    ),
    coding-langage:(
        wdth: 25vw,
        pstion: absolute,
        z-ind: 2,
        top: 11.4%,
        left: 8.2vw,
    ),
    coding-project:(
        wdth: 25vw,
        pstion: absolute,
        z-ind: 2,
        top: 9.8%,
        left: 8.2vw,
    ),
    coding-project2:(
        wdth: 25vw,
        pstion: absolute,
        z-ind: 2,
        top: 9.8%,
        left: 8.2vw,
    ),
    computer:(
        wdth: 23.5vw,
        pstion: absolute,
        z-ind: 2,
        top: 9.8%,
        left: 8.2vw,
    ),
);

$about-subsection2-paragraph:(
    par1:(
        pad: calc(5px + 0.8vw) 0,
    ),
    par2:(
        pad: calc(5px + 1.4vw) 0,
    ),
);

$breakpoints:(
    smartphone: 320px,
    smartphone_landscape: 480px, 
    tablet: 768px,
    desktop: 992px,
    big_desktop:1200px,
);