/*section about*/
.about-section {
    line-height: 1.3;
    &__title {
        @include section-title-shadow;
    }
    
    &__subtitle {
        h3{
            text-align: center;
            color: $grey-light-dark-color;
        }
    }
    &__text {
        width: 100%;
        font-size: calc(4px + 1.6vw);
        color: $grey-light-dark-color;
        font-weight: 500;
        text-align: justify;
        margin: calc(1px + 1.2vw) auto auto;
    }
    .title-ctner-anim {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__arrow-ctner {
            position: relative;
            width: calc(14px + 2.4vw);
            height: calc(14px + 2.4vw);
            margin: auto 0; // A revoir
            bottom: calc(16px + 0.2vw);
            left: 0;
            right: calc(15px + 1.8vw);
            &--arrow-1 {
                position: absolute;
                width: calc(8px + 2.8vw);
                height: calc(8px + 2.8vw);
                background: #6323ec;
                opacity: 0.5;
                border-radius: 50%;
                top: calc(9px + 0.76vw);
                right: calc(1.7px + 0.101vw);
            }
            &--arrow-2 {
                position: absolute;
                width: calc(6px + 1.95vw);
                height: calc(6px + 1.95vw);
                background: #6323ec;
                border-radius: 50%;
                top: calc(10px + 1.18vw); 
                left: calc(4px + 0.06vw);
                z-index: 3;
                display: table;
                & i.fa-solid {
                    font-size: calc(2px + 0.85vw);
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    color: $white-color;
                }
            }
            &--arrow-2:before {
                content: "";
                width: calc(3px + 1.82vw);
                height: calc(3px + 1.82vw);
                border: calc(1.5px + 0.04vw) solid $white-color;
                border-radius: 50%;
                position: absolute;
                top: calc(1.3px + 0.088vw);
                left: calc(1.3px + 0.088vw);
            } 
        }
    }
    .as-subsection {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: auto;
        padding: .8rem;
        text-align: justify;
        h4{
            text-align: center;
            color: $dark-grey-color;
            text-decoration: underline;
            font-weight: 600;
        }
        &__1 {
            display: flex;
            flex-direction: column;
            // border: 2px solid $black-color;
            padding: calc(5px + 1.2vw) 10px calc(5px + 0.5vw);
        }
        &__2 {
            display: flex;
            flex-direction: row;
            // border: 2px solid $black-color;
            padding: calc(5px + 0.5vw) 10px calc(5px + 1.2vw);
            &--left {
                display: flex;
                flex-direction: column;
            }
            &--right {
                display: flex;
                flex-direction: column;
            }
        }
        &__3 {
            display: flex;
            flex-direction: column;
            // border: 2px solid $black-color;
            padding: 10px;
        }
    }       
}

/* Custom Animate.css */

.animated.hinge {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.zoomIn {
    animation-name: zoomIn;
}

.storyLife-container {
    border-radius: 10px;
    &__text-life {
        color: $dark-grey-color;
        width: 95%;
        font-size: calc(4px + 2.2vw);
        position: absolute;
        text-align: center;
        top: calc(37% + 15vw);
        right: calc(1% + 0.7vw);
    }
}

#as-sub2 {
    &__left {
        display: flex;
        flex-direction: column;
        width: 50%;
        @include about-subsection2-paragraph($about-subsection2-paragraph);
    }
    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
        border: 7px groove $grey-alpha90-color;
        border-radius: 10px;
        margin: calc(50px + 4vw) 0 calc(20px + 2.9vw) calc(5px + 2.2vw);   
        color: $grey-light-dark-color;
        position: relative;
        padding: 1.8vw;
        background-color: $grey-alpha13-color;
        @include about-story-life($about-appear-image-data);
        & p {
            border: 2px solid $grey-alpha90-color;
            border-radius: 20px;
            background-color: $light-grey-alpha75-color;
            box-shadow: 10px 10px 5px $grey-alpha90-color;
            padding: 5px;
        }
    }
}

.appearance {
    animation-name: appearance;
    animation-duration: 3s;
    & img {
        border-radius: 50px;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appearance {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
