/*section about*/
.about-section {
    line-height: 1.5;
    &__title {
        h2 {
            // mix-blend-mode: exclusion; // Permet de faire le mix des différents éléments
            // display: block;
        @include section-title-shadow;
        }
    }
    &__subtitle {
        h3{
            text-align: center;
            color: $grey-light-dark-color;
        }
    }
    &__text {
        width: 100%;
        font-size: calc(4px + 1.6vw);
        color: $grey-light-dark-color;
        font-weight: 500;
        text-align: justify;
        margin: calc(1px + 1.2vw) auto auto;
    }
    .as-grid {
        width: 90%;
        margin: auto;
        h4{
            text-align: center;
            color: $dark-grey-color;
            text-decoration: underline;
            font-weight: 600;
        }
        &__item {
            width: 100%;
            padding: .8rem;
            text-align: justify;
            &--1 {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                gap: 2rem;
                border: 2px solid $black-color;
                padding: calc(5px + 2.2vw) 10px ;
            }
            &--2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                gap: 2rem;
                border: 2px solid $black-color;
                padding: calc(5px + 2.2vw) 10px;
            }
            &--3 {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                gap: 2rem;
                border: 2px solid $black-color;
                padding: 10px;
            }
        }
    }   
}

.storyLife-container {
    &__text-life {
        width: 95%;
        font-size: calc(4px + 1.4vw);
        position: absolute;
        text-align: center;
        top: calc(150px + 20vw);
    }
}

#as-g__col1 {
    &--par1 {
        padding: calc(5px + 2.2vw) 0;
    }
    &--par2 {
        padding: calc(5px + 2.2vw) 10px;
    }
}

#as-g__col2 {
    color: $grey-light-dark-color;
    position: relative;
    overflow: hidden;
    padding: 10px;
    background-color: $light-grey-color;
    @include about-story-life($about-appear-image-data);
}

.appearance {
    animation-name: appearance;
    animation-duration: 3s;
    & img {
        border-radius: 50px;
    }
}

@keyframes appearance {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
