/*section skills*/
.expertise-section {
    // border: 2px solid black;
    // position: relative;
    overflow: hidden;
    // img {
    //     width: 100vw;
    //     height: 100%;
    //     transform: scale(1.07);
    //     background-position: top/cover;
    // }
    &__text {
        @include section-text;
        margin: 0 auto 5vw;
        width: 90%;
        // letter-spacing: 2px;
    }
    &__title {
        margin: -50px 0 50px;
        padding-top: calc(1rem + 1vw);
        @include section-title-shadow;
        // @include animation-title(glissement-left, 500ms, normal, ease-in-out, 1);
        // @include delayed-time-letter(14, 500ms);
    }
    &__skills {
        margin: 2%;
        // &--appear{
        //     text-align: center;
        // }
    }
    // p {
    //     display: inline-block;
    //     font-size: calc(0.4rem + 2.2vw);
    //     letter-spacing: 2px;
    //     color: $black-color;
    //     border-radius: 20px;
    //     padding: 0 10px ;
    // }
    &__subsection {
        @include text-decoding;
    }
}

.skillBox {
    // z-index: 3;
    font-family: $font-family-skills;
    font-weight: 500;
    text-align: left;
    width: 95%;
    height: auto;
    font-size: calc(4px + 2.3vw);
    margin: 40px auto;
    border: 1px solid $black-color;
    padding: 10px;
    border-radius: 20px;
}

.skillBar {
    width: 90%;
    height: calc(10px + 3vw);
    position: relative;
    background: $grey-alpha70-color;
    padding-left: -20px;
    margin: 25px auto;
    border-radius: 15px;
}

.skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin: calc(0.5px + 0.35vw) 0 0 15px;
    padding-left: 30px;
    text-shadow: none;
    color: $white-color;
    font-size: calc(15px + 0.8vw);
}

.PercentSkill {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: calc(0.5px + 0.35vw);
    float: right;
    text-shadow: none;
    color: $white-color;
    font-size: calc(15px + 0.8vw);
}

.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0!important;
    transform: translateY(-30px)!important;
}

.reveal-loaded [class*="reveal-"] {
    opacity: 1!important;
    transform: translateY(0)!important;
    transition: cubic-bezier(0.54,0.01,0,0.99);
    @include skills-datas($skills-datas);
    @include keyframes-skills($keyframes-skills);
}

@media (prefers-reduced-motion: reduce) {
    .reveal [class*="reveal-"] {
        opacity: 1!important;
        transform: translateY(0px)!important;
        @include skills-datas($skills-datas);
    }
}

